[user]
    name = Agamdeep Singh
    email = asa202@sfu.ca
[core]
    editor = nano
    whitespace = off
    excludesfile = ~/.gitignore
[advice]
    statusuoption = false
[color]
    ui = true
[push]
    default = current